{% extends "encuestaHome.html" %}
{% block title %}
Deshabilitar encuesta
{% endblock title %}
{% block encuesta %}

<div class="card-header p-1">
    <em class="">Detalle encuesta/<strong>Eliminar encuesta</strong>/</em>
</div>
<div class="card bg-light mt-2 p-4">
    <div class="card-header">
        <h5>Confirmación de <strong>desactivación</strong> de encuesta</h5>
    </div>
    <div class="text-center card card-body">
        <form method="POST">
            {% csrf_token %}
            <h4>Encuesta activa</h4>
            <h5>¿Desea cambiar el estado de la encuesta "{{object.titulo}}" a <strong class="text-danger">inactivo</strong>?</h5>
            <div class="card-btn">
                <button type="submit" class="btn btn-danger bg-gradient">Desactivar</button>
                <a class="btn btn-dark bg-gradient" href="{% url 'encuesta:encuesta_detail' object.id %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>

{% endblock encuesta %}