{% extends "encuestaHome.html" %}
{% block title %}
Crear encuesta
{% endblock title %}
{% block encuesta %}
<!-- crear_encuesta.html -->
{% load static %}

<div class="card-header p-1">
    <em class="">Crear encuesta nueva/</em>
</div>
<div class="card card-body bg-light mt-2 p-4">    
    <h5>Crear Encuesta</h5>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button  class="btn btn-primary" style="width: 100%;" type="submit">Guardar</button>
        <a class="btn btn-danger mt-1" style="width: 100%;" href="{% url 'encuesta:inicio_encuestas'  %}" style="flex: 1; margin-left: 5px; margin-right: 5px;">
            Cancelar
        </a>
        
    </form>
</div>
{% endblock encuesta %}


