{% extends "encuestaHome.html" %}
{% block title %}
Encuesta detalle
{% endblock title %}
{% block encuesta %}
<h5 class="card-header">Encuesta detalle | Preguntas </h5>
    <div class="card-body card bg-light bg-gradient border-solid text-dark">
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
    {% if encuesta.estado %}
    <h5>Editar encuesta || {{ encuesta.titulo }} <a href="{% url 'encuesta:editar_encuesta' encuesta.id %}"><i class="text-primary fa-solid fa-pen-to-square"></i></a></h5>
    <h6>Preguntas:</h6>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3"> <!-- Columnas responsivas -->
            {% if preguntas %}
            {% for tipo, pregunta in preguntas %}
            <div class="col d-flex">
                <div id="pregunta" style="box-shadow: rgb(0, 0, 0) 1px 1px 3px; border-bottom-left-radius: 30px; border-top-right-radius: 30px;" class="card bg-dark">
                    <div class="container">
                       
                        <div class="card-footer "> 
                            <a class="btn btn-info mt-2" href=""><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btn btn-danger mt-2" href=""><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-body alert alert-warning alert-dismissible mt-2" style="margin-inline: 12px;" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p>No hay perguntas en esta encuesta!.</p>
            </div>
            {% endif %}
        </div>
    <a class="btn btn-primary mt-4" href="">Agregar Pregunta</a>
    <hr>
    <div style="display: flex;">
        <a class="btn btn-success" href=""
            style="flex: 2; margin-right: 5px;">
            Ver Encuesta
        </a>
        <a class="btn btn-danger" href="{% url 'encuesta:eliminar_encuesta' encuesta.id %}" style="width: 20%;">
            Eliminar encuesta
        </a>
    </div>
    {% else %}
    <div>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            La encuesta no se encuentra disponible. 
            <br>Estado actual: 
            {% if not encuesta.estado  %} <strong>Inactiva <i class="fa-solid fa-ban"></i> </strong> {% endif %}
        </div>
    </div>
    {% endif %}
    </div>


{% endblock encuesta %}