{% extends "encuestaHome.html" %}
{% block title %}
Detalle encuesta
{% endblock title %}
{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App/ modulo encuestas/ detalle encuesta</em>
</div>
{% endblock navegacion %}

{% block encuesta %}

{% block modulo_encuestas %}
<div id="contenedor_modulo_encuestas">
    <h5>Modulo encuestas</h5>
    <p>A continuación encontrará la encuesta seleccionada a detalle, junto a sus preguntas y opciones.</p>
    <a id="volver_incio_encuestas" href="{% url 'encuesta:inicio_encuestas' %}"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock modulo_encuestas %}


<div id="section_detalle_encuesta">

    <div id="centro_diseño">

    </div>
    <div class="info_text text-center">
        <h3><strong>Infomarción encuesta</strong></h3>
    </div>
    <hr>
    <h5><strong>Titulo </strong>{{ encuesta.titulo }}</h5>
    <ul>
        <h6>Tipo de encuesta <em>{{encuesta.tipoEncuesta}}</em>
            {% if encuesta.tipoEncuesta == "Privada" %}
            <i class="fa-solid fa-lock text-dark"></i>
            {% else %}
            <i class="fa-solid fa-lock-open text-dark"></i>
            {% endif %}
        </h6>

        <h6>Fecha de inicio: <em>{{encuesta.fechaInicio}}</em> - Fecha de finalización: <em>{{encuesta.fechaFinal}}</em>
        </h6>
        <a id="editar_encuesta" href="{% url 'encuesta:editar_encuesta' encuesta.id %}"><i
                class="fa-solid fa-pen-to-square"></i></a>


            <h5><strong>Estado de la encuesta</strong></h5>
            {% if encuesta.publicarEncuesta %}
                <strong > Encuesta publicada </strong>

                <!-- Alertas estado ENCUESTA PUBLICADA  -->
                {% if encuesta.estado and encuesta.fechaFinal|date:"Y-m-d H:i" >= hoy|date:"Y-m-d H:i" %}
                <h6><strong>Activa</strong> <i class="fa-solid fa-eye text-info"></i> (Encuesta visible)</h6>
                {% else %}
                    <h6><strong>Inactiva**</strong> <i class="fa-solid fa-eye-slash text-info"></i> (Encuesta oculta)</h6>
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Alerta de visualización</strong><br>                      
                            {% if not encuesta.estado and encuesta.fechaFinal|date:"Y-m-d H:i" <= hoy|date:"Y-m-d H:i" %}
                            El estado de la encuesta se encuestra inactivo y La fecha de finalización ya paso <br> ¡su visualizacion se encuentra OCULTA!
                            {% elif encuesta.fechaFinal|date:"Y-m-d H:i" <= hoy|date:"Y-m-d H:i" %}
                            La fecha de finalización de la encuesta ya paso, su visualizacion se encuentra OCULTA
                            {% else %} 
                            El estado de la encuesta se encuestra inactivo su visualizacion se encuentra OCULTA
                            {% endif %}
                            considere <a href="{% url 'encuesta:editar_encuesta' encuesta.id %}">editar</a> la encuesta
                    </div>
                {% endif %}



            {% else %}
                <h6 ><strong>La encuesta no publicada***</strong> (No disponible en el sitema) </h6>

                <ul> 
                    <li>Verifique la información de la encuesta y las preguntas de antes de publicarla.</li>
                    <li>Una vez confirme publicar, la encuesta estará disponible en el sistema y las preguntas no tienen modificación.</li>
                    <li>Recuerde que para que la encuesta sea visible al publico, debe validar la fecha de finalización y el estado activado</li>
                </ul>

            {% endif %}
    </ul>

<div id="section_grid_preguntas">
    <hr>
    <h5>Lista de preguntas <i class="fa-solid fa-list-ol"></i></h5>
    {% if preguntas_con_opciones %}
    {% for pregunta_con_opciones in preguntas_con_opciones %}
    <div class="col d-flex mt-2">
        <div id="pregunta">

            <div class="container_pregunta">
                <!-- Mostrar el tipo de pregunta y el texto -->
                <strong>Tipo de pregunta </strong>{{ pregunta_con_opciones.pregunta.get_tipoPregunta_display }}
                <br>
                <strong>Pregunta </strong> ¿{{ pregunta_con_opciones.pregunta.texto_pregunta}}?
                <br>
                <strong>ID {{ pregunta_con_opciones.pregunta.id}} </strong> 
            
                <!-- Mostrar opciones si es selección múltiple -->
                {% if pregunta_con_opciones.pregunta.tipoPregunta == '4' and pregunta_con_opciones.opciones %}
                <br><strong>Opciones</strong>
                <ul id="ul_opciones_pregunta">
                    <P><strong>A.</strong> {{ pregunta_con_opciones.opciones.opcion_1 }}</P>
                    <P><strong>B.</strong> {{ pregunta_con_opciones.opciones.opcion_2 }}</P>
                    <P><strong>C.</strong> {{ pregunta_con_opciones.opciones.opcion_3 }}</P>
                    <P><strong>D.</strong> {{ pregunta_con_opciones.opciones.opcion_4 }}</P>
                </ul>
                {% endif %}
            
                <!-- Botones de acción -->
                {% if not encuesta.publicarEncuesta %}
                <div class="cont_botones_preguntas">
                    <a class="boton_pregunta editar" href="{% url 'encuesta:editar_pregunta' encuesta.id pregunta_con_opciones.pregunta.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="boton_pregunta eliminar" href="{% url 'encuesta:eliminar_pregunta' encuesta.id pregunta_con_opciones.pregunta.id %}"><i class="fa-solid fa-trash-can"></i></a>
                </div>    
                {% else %}
                {% endif %}
            
            </div>
            
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card-body alert alert-warning alert-dismissible mt-2" style="margin-inline: 12px;" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>No hay preguntas en esta encuesta.</p>
    </div>
    {% endif %}
</div>

{% if not encuesta.publicarEncuesta %}
<div class="footer">
    <a id="boton_crear_home52" class="boton-estilizado" href="{% url 'encuesta:agregar_pregunta' encuesta.id %}">Agregar Pregunta</a>
    <a id="boton_eliminar_home52" class="boton-estilizado" href="{% url 'encuesta:eliminar_encuesta' encuesta.id %}">Eliminar todo</a>
</div>
<hr>
<a id="boton_publicarEncuesta_home52" class="boton-publicar" href="{% url 'encuesta:publicar_encuesta' encuesta.id %}">PUBLICAR ENCUESTA</a>
{% else %}
<a id="boton_crear_home52" class="boton-publicar" href="#">VER ENCUESTA</a>
{% endif %}


</div>


{% endblock encuesta %}