{% extends "encuestaHome.html" %}
{% block title %}
Editar encuesta
{% endblock title %}

{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App/ modulo encuestas/ detalle encuesta/ editar</em>
</div>
{% endblock navegacion %}

{% block encuesta %}

{% block modulo_encuestas %}
<div id="contenedor_modulo_encuestas">
    <h5>Modulo encuestas</h5>
    <p>A continuación podrás editar la encuesta selecionada</p>
    <a id="volver_incio_encuestas" href="{% url 'encuesta:inicio_encuestas' %}"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock modulo_encuestas %}
<div id="section_detalle_encuesta">
<div class="card-body">
    <div id="centro_diseño"></div>
    <div class="info_text text-center"><h3><strong>Editar encuesta</strong></h3></div>
    <hr>
    <h5><strong>Titulo </strong>{{ encuesta.titulo }}</h5>
    <h6>Tipo de encuesta <em>{{encuesta.tipoEncuesta}}</em>
        {% if encuesta.tipoEncuesta == "Privada" %}
        <i class="fa-solid fa-lock text-dark"></i>
        {% else %}
        <i class="fa-solid fa-lock-open text-dark"></i>
        {% endif %}
    </h6>
    <h6>Fecha de inicio(actual): <em>{{encuesta.fechaInicio}}</em> - Fecha de finalización(actual): <em>{{encuesta.fechaFinal}}</em></h6>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong>Alerta de visualización:</strong>
        Recuerde marcar la encuesta como activa
    </div>
    <form class="mt-2 py-1 mx-4"   method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
    <button  class="btn btn-primary" style="width: 100%;" type="submit">Actualizar</button>
    <a class="btn btn-danger mt-1" style="width: 100%;" href="{% url 'encuesta:encuesta_detail' object.id %}"  >
        Cancelar
    </a>
    </form>
</div>
</div>
{% endblock encuesta %}
