{% extends "encuestaHome.html" %}
{% block title %}
Inicio encuestas
{% endblock title %}

{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App/ modulo encuestas/ inicio <i class="fa-solid fa-house-chimney"></i> </em>
</div>
{% endblock navegacion %}

{% block encuesta %}
<div id="section_modules">
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block modulo_encuestas %}
    <h5>Modulo encuestas</h5>
    <a class="text-center" id="crear_encuesta" href="{% url 'encuesta:crear_encuesta' %}">
        <i class="fa-solid fa-file-circle-plus"></i>
        <p>Crear</p>
    </a>
    {% endblock modulo_encuestas %}

    {% if encuestas %}
    <p>A continuación encontrará el listado de encuestas públicas y privadas, creadas en el sistema.</p>
    <p>Haga click en alguna de las cuestas...</p>
    <div id="section_grid_encuestas">
        {% for encuesta in encuestas %}
        <div class="col">
            <a id="encuesta_pop" href="{% url 'encuesta:encuesta_detail' encuesta.id %}" class="card mt-2 p-2">
                <div class="container">
                    <p>Titulo encuesta <strong>{{encuesta.titulo.upper}}</strong></p><em
                        class="text-info ">{{encuesta.id}}<i class="fa-solid fa-file mx-2"></i></em>
                    <ul>
                        <li>Tipo <strong>{{ encuesta.tipoEncuesta }}</strong> </li>
                        <li>Estado <strong>{{ encuesta.estado }}</strong> </li>
                        <li>Cantidad de preguntas <strong></strong> </li>
                    </ul>
                </div>
                <div class="position-relative">
                    {% if cantidad_respuestas == 0 %}
                    <em class="text-danger "> respuestas</em>
                    {% else %}
                    <em class="text-info "> respuestas <i class="fa-solid fa-bell"></i> </em>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>No hay encuestas creadas en el sistema, comuníquese con el administrador</p>
    </div>
    {% endif %}
</div>

{% endblock encuesta %}