{% extends "encuestaHome.html" %}
{% block title %}
Publicar encuesta
{% endblock title %}
{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App / modulo encuestas/ detalle encuesta/ <strong>publicar encuesta </strong></em>
</div>
{% endblock navegacion %}

{% block encuesta %}

{% block modulo_encuestas %}
<div id="contenedor_modulo_encuestas">
    <h5>Modulo encuestas</h5>
    <p>A continuación podrás publicar la encuesta y hacerla visible para todos los usurios dependiendo el tipo de encuesta.</p>
    <a id="volver_incio_encuestas" href="{% url 'encuesta:inicio_encuestas' %}"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock modulo_encuestas %}

<div id="section_detalle_encuesta">
    
    <div class="text-center">
        <form method="POST">
            {% csrf_token %}
            <h4>Publicar encuesta</h4>
            <h5>¿Esta seguro de publicar la encuesta <strong> {{object.titulo}}</strong>?</h5>
            <div class="text-start alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <p><strong>¡Alerta validar la información antes de publicar!</strong></p>
                <ul> 
                    <li>Verifique la información de la encuesta y las preguntas de antes de publicarla.</li>
                    <li>Una vez confirme publicar, la encuesta estará disponible en el sistema y las preguntas no tienen modificación.</li>
                    <li>Recuerde que para que la encuesta sea visible al publico, debe validar la fecha de finalización y el estado activado</li>
                </ul>
            </div>
            <div class="footer">
            <button id="boton_publicarEncuesta_home52" class="boton-publicar" type="submit">PUBLICAR ENCUESTA </button>
            </div>
            <a style="width: 100%;" id="boton_cancelar_home52" class="boton-estilizado" href="{% url 'encuesta:encuesta_detail'  encuesta.id%}">Volver atras modo seguro</a>
        </form>
    </div>
</div>

{% endblock encuesta %}