{% extends "encuestaHome.html" %}
{% block title %}
Pregunta Tipe
{% endblock title %}
{% block encuesta %}


<div class="container mt-4">
    <h2>Resultados de la búsqueda: "{{ query }}"</h2>

    <!-- Sección de Encuestas -->
    <h3>Encuestas</h3>
    {% if encuestas %}
        <ul class="list-group">
            {% for encuesta in encuestas %}
                <li class="list-group-item">
                    <strong>Título:</strong> {{ encuesta.titulo }}<br>
                    <strong>Tipo:</strong> {{ encuesta.tipoEncuesta }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron encuestas.</p>
    {% endif %}

    <!-- Sección de Preguntas -->
    <h3>Preguntas</h3>
    {% if preguntas %}
        <ul class="list-group">
            {% for pregunta in preguntas %}
                <li class="list-group-item">
                    <strong>Texto de la pregunta:</strong> {{ pregunta.texto_pregunta }}<br>
                    <strong>Tipo de pregunta:</strong> {{ pregunta.get_tipoPregunta_display }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron preguntas.</p>
    {% endif %}

    <!-- Sección de Respuestas -->
    <h3>Respuestas</h3>
    {% if respuestas %}
        <ul class="list-group">
            {% for respuesta in respuestas %}
                <li class="list-group-item">
                    <strong>Texto de la respuesta:</strong> {{ respuesta.texto_respuesta }}<br>
                    <strong>Pregunta asociada:</strong> {{ respuesta.pregunta.texto_pregunta }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron respuestas.</p>
    {% endif %}

    <!-- Sección de Rutas -->
    <h3>Rutas</h3>
    {% if rutas %}
        <ul class="list-group">
            {% for ruta in rutas %}
                <li class="list-group-item">
                    <strong>{{ ruta.descripcion }}</strong><br>
                    <a href="{{ ruta.url }}" class="btn btn-link">Ir a {{ ruta.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron rutas relevantes.</p>
    {% endif %}

</div>

{% endblock encuesta %}