{% extends "encuestaHome.html" %}
{% block title %}
Pregunta Tipe
{% endblock title %}

{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App/ busqueda?{{ query }}</em>
</div>
{% endblock navegacion %}

{% block encuesta %}

<div class="card-body mt-2">
    <h5>Resultados de la búsqueda: "{{ query }}"</h5>

    <!-- Sección de Encuestas -->
    <h6>Encuestas</h6>
    {% if encuestas %}
        <ul class="list-group">
            {% for encuesta in encuestas %}
                <li class="list-group-item">
                    <strong>Título:</strong> {{ encuesta.titulo }}<br>
                    <strong>Tipo:</strong> {{ encuesta.tipoEncuesta }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron encuestas.</p>
    {% endif %}

    <!-- Sección de Preguntas -->
    <h6>Preguntas</h6>
    {% if preguntas %}
        <ul class="list-group">
            {% for pregunta in preguntas %}
                <li class="list-group-item">
                    <strong>Texto de la pregunta:</strong> {{ pregunta.texto_pregunta }}<br>
                    <strong>Tipo de pregunta:</strong> {{ pregunta.get_tipoPregunta_display }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron preguntas.</p>
    {% endif %}

    <!-- Sección de Respuestas -->
    <h6>Respuestas</h6>
    {% if respuestas %}
        <ul class="list-group">
            {% for respuesta in respuestas %}
                <li class="list-group-item">
                    <strong>Texto de la respuesta:</strong> {{ respuesta.texto_respuesta }}<br>
                    <strong>Pregunta asociada:</strong> {{ respuesta.pregunta.texto_pregunta }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron respuestas.</p>
    {% endif %}

    <!-- Sección de Rutas -->
    <h6>Rutas</h6>
    {% if rutas %}
        <ul class="list-group">
            {% for ruta in rutas %}
                <li class="list-group-item">
                    <strong>{{ ruta.descripcion }}</strong><br>
                    <a href="{{ ruta.url }}" class="btn btn-link">Ir a {{ ruta.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron rutas relevantes.</p>
    {% endif %}

</div>

{% endblock encuesta %}