{% extends "index.html" %}
{% block title %}
Encuesta Home
{% endblock title %}
{% block body %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock style %}

<body>
    <div class="mt-2">
        {% if not request.user.is_authenticated %}
        <nav class="navbar navbar-white bg-light border border-light-10 fixed-strat ">
            <div class="container-fluid justify-content-start">
                <a class="navbar-brand text-black" href="{% url 'encuestaHome' %}">
                <strong> Encuestas Publicas</strong></a>
                {% else %}
                <nav style="background-color: #00ae01; border-top-right-radius: 10px; border-top-left-radius: 10px;"
                    class="navbar navbar-light fixed-strat">
                    <div class="container-fluid justify-content-start">
                        <a class="navbar-brand" href="{% url 'encuestaHome' %}">
                        </a>
                        <a class="navbar-brand text-white" href="{% url 'encuestaHome' %}"><i
                                class="text-white fa-solid fa-cubes"></i><strong> App Encuestas</strong></a>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <form class="d-flex" style="margin-left: 10px;" method="GET" action="{% url 'buscar' %}">
                            <input class="form-control me-2 bg-light" type="search" name="q"
                                placeholder="Buscar en encuestas" aria-label="Search">
                            <button class="btn btn-outline-dark " type="submit">Buscar</button>
                        </form>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-regular fa-folder-open"></i> Modulo de Encuestas
                                    </a>
                                    <ul class="dropdown-menu" style="background-color: #efefeb ;"
                                        aria-labelledby="navbarDropdown">
                                        <li><a class="text-success dropdown-item" href="{% url 'crear_encuesta' %}"><i
                                                    class="fa-solid fa-file-circle-plus"></i> Crear encuesta</a></li>
                                        <li><a class="text-success dropdown-item" href="{% url 'encuestaHome' %}"><i
                                                    class="fa-solid fa-file-lines"></i> Lista de encuestas</a></li>
                                        <li>
                                            <hr class="text-success dropdown-divider">
                                        </li>
                                        <li><a class="text-success dropdown-item" href="{% url 'ver_respuestas' %}"><i
                                                    class="fa-solid fa-file-export"></i> Lista de Respuestas</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="{% url  'usuario:listar_usuario'%}" id="" role=""
                                        data-bs-toggle="" aria-expanded="false">
                                        <i class="fa-solid fa-users-rectangle"></i> Modulo de Usuarios
                                    </a>
                                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li ><a class="text-success dropdown-item" href="RUTA"><i class="ICONO"></i>INFO</a></li>
                                    </ul> -->
                                </li>
                            </ul>
                        </div>
                        <em style="position: absolute; right:0; top:0; margin-right: 70px; margin-top: 15px;">Direccion
                            IP: {{ ip_address }}</em>

                        <!-- Perfil navbar -->
                        <div style="position: absolute; right: 0; top: 0; margin-top: 15px; margin-right: 18px;">
                            <div style="all: initial; " class="dropdown">
                                <a style=" all: initial;" class="nav-link dropdown-toggle text-white " href="#"
                                    role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="text-white fa fa-user-check"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light text-success dropdown-menu-end"
                                    aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" href="{% url 'index' %}">
                                            <i class="fa-solid fa-user-gear"> perfil</i>
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                            <i class="fa-solid fa-screwdriver-wrench"> admin</i>
                                        </a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li class="bg-danger"><a class="dropdown-item" href="{% url 'logout' %}">
                                            <i class="fa fa-power-off"> logout</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div style="position: absolute; right: 0; top: 0; margin-top: 15px; margin-right: 18px;">
                            <div style="all: initial; " class="dropdown">
                                <a style=" all: initial;" class="nav-link dropdown-toggle" href="#" role="button"
                                    id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">Login
                                    <i class="fa fa-user"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end"
                                    aria-labelledby="profileDropdown">
                                    <li><a class="dropdown-item" href="{% url 'login' %}">
                                            <i class="fa fa-power-off"> Iniciar Sesion</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </nav>
            </div>

{% block encuesta %}
            <section class="mt-2">    
                <div class="select-container">
                    <div class="text-container">
                        <div class="card mt-2 p-4 ">

                        <h1>Responde nuestras encuetas</h1>
                        <p>Conoce nuestros tipos de encuestas</p>
                        <div class="image-container ">
                            <img style="width: 30%;" src="{% static 'img/encuestas.jpg' %}" alt="Imagen de encuestas">
                        </div>
                            {% if request.user.is_authenticated %}
                            
                            <a class="btn btn-outline-info" style="width: 300px" href="{% url 'encuestasPrivadas' %}">Encuestas
                                Privadas</a>
                            <p>haz click para ir a las encuestas privadas</p>   
                            {% else %}
                            <a class="btn btn-outline-success" style="width: 300px"
                            href="{% url 'encuestasPublicas' %}">Encuestas Publicas</a>
                            <p>haz click para ir las encuestas publicas</p>
                            <a class="btn btn-outline-info" style="width: 300px" href="{% url 'login' %}">Encuestas
                                Privadas</a>
                            <p>haz click para ir al login</p>
                            {% endif %}
                        
                        </div>
                    </div>
                </div>
            </section>
{% endblock encuesta %}
</body>

{% endblock body %}