{% extends "index.html" %}
{% block title %}
Encuestas Home
{% endblock title %}
{% block body %}

{% load static %}

{% block extrajs %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock extrajs %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock style %}

<div class="mt-2">
    {% if not request.user.is_authenticated %}
    <nav class="navbar border border-light-10 fixed" style="background-color: #a5a5a58f; height: 50px;">
        <div class="container-fluid d-flex align-items-center justify-content-start">
            <div class=" navbar-brand d-flex align-items-center" style="color: #000000da; bottom: 10px; position: relative" >
                <img style="width: 50px; height: auto;" class="img me-2" src="{% static 'img/hm52.png' %}" alt="Imagen de encuestas">
                <strong>Encuestas Home 52</strong>
            </div>
            <a class="navbar-brand" style="color: #007C75; padding-inline-start: 30px; bottom: 10px; position: relative" href="{% url 'encuesta:encuestaHome' %}">
                <strong>Inicio</strong>
            </a>
            <div class="d-flex align-items-start">
            <a class="navbar-brand" style="color: #007C75; padding-inline-start: 30px; bottom: 10px; position: relative" href="{% url 'encuesta:about' %}">
                <strong>Contacto</strong>
            </a>
            {% else %}
            <nav style="background-color: #007C75; border-top-right-radius: 10px; border-top-left-radius: 10px;"
                class="navbar navbar-light fixed">
                <div class="container-fluid d-flex align-items-start justify-content-start" >
                    <a class="navbar-brand d-flex align-items-start" style="color: #007C75; padding-inline-start: 5px;  position: relative" href="{% url 'encuesta:encuestaHome' %}">
                        <img style="width: 50px; height: auto;" class="img" src="{% static 'img/hm52.png' %}" alt="Imagen de encuestas">
                        <strong>Encuestas Home 52</strong>
                    </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="right: 220px; top:10px; position: relative">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <form class="d-flex" style="right: 200px; top:5px; position: relative" method="GET" action="{% url 'encuesta:buscar' %}">
                        <input class="form-control me-2 bg-light" type="search" name="q"
                            placeholder="Buscar en encuestas" aria-label="Search">
                        <button class="btn btn-outline-dark" type="submit">Buscar</button>
                    </form>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-rectangle-list"></i> Modulo de Encuestas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" style="color: #4B4B4B;"
                                            href="{% url 'encuesta:inicio_encuestas' %}">
                                            <i class="fa-solid fa-house-chimney"></i> Inicio encuestas
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" style="color: #4B4B4B;" href="{% url 'encuesta:ver_respuestas' %}">
                                            <i class="fa-solid fa-clipboard-question"></i> Respuestas
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" href="{% url 'usuario:inicio_usuarios' %}" id="" role=""
                                    data-bs-toggle="" aria-expanded="false">
                                    <i class="fa-solid fa-users-rectangle"></i> Modulo de Usuarios
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    <em style="position: absolute; right:0; top:0; margin-right: 70px; margin-top: 15px;">Direccion
                        IP: {{ ip_address }}</em>

                    <!-- Perfil navbar -->
                    <div style="position: absolute; right: 0; top: 0; margin-top: 15px; margin-right: 18px;">
                        <div style="all: initial;" class="dropdown">
                            <a style="all: initial;" class="nav-link dropdown-toggle text-white" href="#" role="button"
                                id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="text-white fa fa-user-check"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light text-success dropdown-menu-end"
                                aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="{% url 'index' %}">
                                        <i class="fa-solid fa-user-gear"> perfil</i>
                                    </a></li>
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                        <i class="fa-solid fa-screwdriver-wrench"> admin</i>
                                    </a></li>
                                <hr class="dropdown-divider">
                                <li class="bg-danger"><a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="fa fa-power-off"> logout</i>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div style="position: absolute; right: 0; top: 0; margin-top: 15px; margin-right: 18px;">
                        <div style="all: initial;" class="dropdown">
                            <a style="all: initial;" class="nav-link dropdown-toggle" href="#" role="button"
                                id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">Login
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end"
                                aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="{% url 'login' %}">
                                        <i class="fa fa-power-off"></i>Iniciar Sesion
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>

        {% if request.user.is_superuser%}
        {% block navegacion %}
        <div id="ruta_navegacion">
            <em class="ruta">App/</em>
        </div>
        {% endblock navegacion %}
        {% endif %}

        <section class="p-4 card card-body">
            {% block encuesta %}

            {% if request.user.is_superuser%}

                <!-- Vista Privada - ADMIN  -->
                <h4>Hola Admin {{user.nombres}}</h4>
            
                <p>Bienvenido al panel de control. Aquí puedes crear, modificar y publicar encuestas que incluyen preguntas generales, numéricas, de sí/no y de selección múltiple. También gestiona los usuarios registrados desde el módulo de usuarios. Organiza, publica y asegura que cada encuesta cumpla con su propósito, optimizando la interacción en nuestra plataforma. ¡Tu rol es clave para mantener todo en marcha!</p>

                <div style="display: flex; justify-content: center; align-items: center; padding-top: -15px; margin-bottom: 20px; ">
                    <div style="position: relative; width: 80%; padding-top: 45.02225%; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin: auto; overflow: hidden; border-radius: 8px; will-change: transform;">
                      <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none;" src="https://www.canva.com/design/DAGSljVb0kI/4OlOC8M6QD6TnsEUc94wBg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
                    </div>
                </div>
                  


                <div class="card-body" >
                    <h5>Revisa las encuestas</h5>
                        <li>Verificar la visualización de las encuestas...</li>
                    <hr>
                    <div class="footer">
                        <a id="boton_publicas_home52"  class="boton-estilizado" href="{% url 'encuesta:ver_encuestas_publicas' %}">Revisar encuestas Publicas</a>
                        <a id="boton_privadas_home52"  class="boton-estilizado" href="{% url 'encuesta:ver_encuestas_privadas' %}">Revisar encuestas Privadas</a>
                    </div>
                </div>

            {% elif request.user.is_authenticated %}
                <!-- Vista Privada - USER  -->
            
                <h4>Bienvenido {{user.nombres}} </h4>
            
                <p>¡Gracias por ser parte de nuestra comunidad exclusiva! Ahora que estás registrado, tienes acceso a nuestras encuestas privadas, donde tu opinión será clave en decisiones importantes. Explora las encuestas personalizadas para ti y sigue compartiendo tus ideas. ¡Juntos creamos un impacto!</p>
                <div class="text-center" style="margin-top: -70px; margin-bottom: -20px;">
                    <img style="width: 60%;" src="{% static 'img/encuesta_cel.png' %}" alt="Imagen de encuestas">
                </div>

                <div class="card-body" >
                    <h5>Seleciona alguna de nuestras encuestas</h5>
                        <li>Haz click según tu preferencia y visualiza las encuestas disponilbes en el sistema</li>
                    <hr>
                    <div class="footer">
                        <a id="boton_privadas_home52" style="width:100%"  class="boton-estilizado" href="{% url 'encuesta:ver_encuestas_privadas' %}">Encuestas Privadas</a>
                    </div>
                </div>

            {% else %}
                <!-- Vista Publica  -->

                <h3>Observatorio de tendencias Home 52</h3>
            
                <p>¡Bienvenido al espacio donde tu opinión cuenta! Explora nuestra selección de encuestas públicas y participa en aquellas que más te interesen. Cada encuesta es una oportunidad para hacer escuchar tu voz y marcar la diferencia en temas importantes. Únete a nuestra comunidad, donde cada respuesta cuenta para mejorar el futuro.</p>

                <div class="text-center">
                    <img style="width: 60%;" src="{% static 'img/encuestas.jpg' %}" alt="Imagen de encuestas">
                </div>

                <div class="card-body" >
                    <h5>Responde nuestras encuestas</h5>
                        <li>Encuestas publicas: Encuentra las encuestas más relevantes para ti y comparte tus experiencias con nosotros.</li>
                        <li >Encuestas privadas: Usuarios registrados en el sistema, solicita una cuenta de acceso.</li>
                    <hr>
                    <div class="footer">
                        <a id="boton_publicas_home52"  class="boton-estilizado" href="{% url 'encuesta:ver_encuestas_publicas' %}">Encuestas Publicas</a>
                        <a id="boton_privadas_home52"  class="boton-estilizado" href="{% url 'login' %}">Encuestas Privadas</a>
                    </div>
                </div>
            {% endif %}
    

            {% endblock encuesta %}
        </section>

        {% endblock body %}