<div class="modal-dialog modals-default">
    <div class="modal-content">
        <div class="modal-header">
            Eliminación de {{ object }}
            <button type="button" class="btn-close" aria-label="Close"  data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">{% csrf_token %}
            <h3><strong>¿Desea eliminar {{object}} ?</strong></h3>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-olign="right" onclick="eliminar({{ object.pk }});"><strong>CONFIRMAR ELIMINACIÓN</strong></button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><strong>CANCELAR</strong></button>
            
        </div>
    </div>
</div>