<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Registro de Usuario </h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <form id="form_creacion" action="{% url 'usuario:registrar_usuario' %}" method="POST">
                <div id="errores"></div>
                {% csrf_token %}
                {{form.as_p}}
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                    <button id="boton_creacion" class="btn btn-primary" type="button"
                        onclick="registrar()">Confirmar</button>
                </div>
            </form>

        </div>
    </div>
</div>