{% extends "encuestaHome.html" %}
{% block title %}
Pregunta Tipe
{% endblock title %}
{% block encuesta %}

<body>
    {% if query %}
    <h5 class="card-header">Resultados de busqueda para "<em class="text-success">{{query}}</em>" </h5>
        {% if encuestas or preguntas_generales or preguntas_select_multiple or preguntas_si_o_no or preguntas_numericas%}
        {% if encuestas %}
            <h6>Encuestas</h6>
            <ul>
                {% for encuesta in encuestas %}
                <li>{{ encuesta.titulo }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if preguntas_generales %}
            <h6>Preguntas Generales</h6>
            <ul>
                {% for pregunta in preguntas_generales %}
                <li>{{ pregunta.texto_pre }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if preguntas_select_multiple %}
            <h6>Preguntas de Selección Múltiple</h6>
            <ul>
                {% for pregunta in preguntas_select_multiple %}
                <li>{{ pregunta.texto_pre }}</li>
                <p><strong>A. </strong>{{ pregunta.opcion_a }} <br><strong>B. </strong>{{ pregunta.opcion_b }}<br> <strong>C.
                    </strong>{{ pregunta.opcion_c }} <br><strong>D. </strong>{{ pregunta.opcion_d }}</p>
                {% endfor %}
            </ul>
        {% endif %}
        {% if preguntas_si_o_no %}
            <h6>Preguntas Sí o No</h6>
            <ul>
                {% for pregunta in preguntas_si_o_no %}
                <li>{{ pregunta.texto_pre }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if preguntas_numericas %}
            <h6>Preguntas Numéricas</h6>
            <ul>
                {% for pregunta in preguntas_numericas %}
                <li>{{ pregunta.texto_pre }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% else %}
        <div class="alert alert-danger alert-dismissible mt-2" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <p>No se encontraron resultados para: "<em>{{query}}</em>"</p>
        </div>
        {% endif %}
    {% else %}
    <div class="alert alert-warning alert-dismissible mt-2" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p>No se ha realizado ninguna búsqueda.</p>
    </div>
    {% endif %}
</body>
{% endblock encuesta %}