{% extends "encuestaHome.html" %}
{% block title %}
Listado de Usuarios
{% endblock title %}

{% block encuesta %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url) {
        jQuery('#edicion').load(url, function () {
            jQuery(this).modal('show');
        });
    }
    function abrir_modal_creacion(url) {
        jQuery('#creacion').load(url, function () {
            jQuery(this).modal('show');
        });
    }
</script>
</head>
<main>
    <header class="card-header d-flex justify-content-between mb-2 align-items-end">
        <h5>Modulo de Usuarios</h5>
        <button class="btn btn-primary my-1" 
        onclick="abrir_modal_creacion('{% url 'usuario:registrar_usuario' %}')">Registrar Usuario Nuevo <i class="fa-solid fa-user-plus"></i> </button>
    </header>
    {% if usuarios %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr class="justify-content-start ">
                    <th class="text-center">ID</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Tipo ident.</th>
                    <th class="text-center">Documento</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Correo</th>
                    <th class="text-center">Rol</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td class="text-center">{{ usuario.id }}</td>
                    <td class="text-center">{{usuario.username}}</td>
                    <td class="text-center">{{usuario.tipoDocumento}}</td>
                    <td class="text-center">{{usuario.numeroDocumento}}</td>
                    <td class="text-center">{{usuario.nombres}}</td>
                    <td class="text-center">{{usuario.apellidos}}</td>
                    <td class="text-center">{{usuario.email}}</td>
                    <td class="text-center">{{usuario.rol}}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-danger m-1" href="{% url 'usuario:eliminar_usuario' usuario.id %}"><i class="fa-solid fa-eye-slash"></i></a>
                        <button class="btn btn-outline-info" onclick="abrir_modal_edicion('{% url 'usuario:editar_usuario' usuario.id %}')"><i class="fa-solid fa-user-pen"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="mt-2 alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><h2>No hay usuarios registrados en el sistema</h2></strong>
    </div>
    {% endif %}
</main>

<!-- Modales -->
<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>
{% endblock encuesta %}
