{% extends "encuestaHome.html" %}
{% block title %}
Eliminar pregunta
{% endblock title %}
{% load static %}

{% block navegacion %}
<div id="ruta_navegacion">
    <em>App/ modulo encuestas/ detalle encuesta/ pregunta/ <strong>eliminar</strong></em>
</div>
{% endblock navegacion %}

{% block encuesta %}

{% block modulo_encuestas %}
<div id="contenedor_modulo_encuestas">
    <h5>Modulo encuestas</h5>
    <p>A continuación podrás eliminar la pregunta </p>
    <a id="volver_incio_encuestas" href="{% url 'encuesta:inicio_encuestas' %}"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock modulo_encuestas %}


<div id="section_detalle_encuesta">

        <form class="text-center" method="POST">
            {% csrf_token %}
            <h4>Eliminar pregunta</h4>
            <h5>¿Desea eliminar la pregunta {{object.id}} "{{object.texto_pregunta}}" de la encuesta
                <strong>{{object.encuesta.titulo}}</strong> ?</h5>
            <div class="footer">
                <button id="boton_eliminar_home52" class="boton-estilizado" type="submit">Eliminar pregunta</button>
                <a id="boton_cancelar_home52" class="boton-estilizado" href="{% url 'encuesta:encuesta_detail' encuesta.id %}">Cancelar</a>
            </div>
        </form>
</div>

{% endblock encuesta %}