{% extends "encuestaHome.html" %}
{% block title %}
    Ver Respuestas
{% endblock title %}
{% block encuesta %}
<!-- ver_respuestas.html -->

<h2>Respuestas para la Encuesta: {{ encuesta.titulo }}</h2>

<!-- Respuestas Públicas -->
<h3>Respuestas Públicas</h3>
<table>
    <thead>
        <tr>
            <th>Encuesta</th>
            <th>Pregunta</th>
            <th>Respuesta</th>
            <th>Tipo de Encuesta</th>
            <th>Nombre del Usuario</th>
            <th>Documento del Usuario</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        {% for respuesta in respuestas_publicas %}
        <tr>
            <td>{{ respuesta.respuestaEncuestaPublica.encuesta.titulo }}</td>
            <td>{{ respuesta.pregunta.texto_pregunta }}</td>
            <td>{{ respuesta.texto_respuesta }}</td>
            <td>Pública</td>
            <!-- Mostrar datos del usuario público -->
            <td>{{ respuesta.respuestaEncuestaPublica.nombre }}</td>
            <td>{{ respuesta.respuestaEncuestaPublica.numeroDocumento }}</td>
            <td>{{ respuesta.respuestaEncuestaPublica.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="divisor">
    <hr>
</div>

<!-- Respuestas Privadas -->
<h3>Respuestas Privadas</h3>
<table>
    <thead>
        <tr>
            <th>Encuesta</th>
            <th>Pregunta</th>
            <th>Respuesta</th>
            <th>Tipo de Encuesta</th>
            <th>Usuario Registrado</th>
        </tr>
    </thead>
    <tbody>
        {% for respuesta in respuestas_privadas %}
        <tr>
            <td>{{ respuesta.respuestaEncuestaPrivada.encuesta.titulo }}</td>
            <td>{{ respuesta.pregunta.texto_pregunta }}</td>
            <td>{{ respuesta.texto_respuesta }}</td>
            <td>Privada</td>
            <td>{{ respuesta.respuestaEncuestaPrivada.usuario.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock encuesta %}
